@import "../../styles/_variables.scss";

.button {
  padding: 0;
  font: inherit;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &-white {
    padding: 13px 48px;
    color: $black;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
    border-radius: 40px;
    background-color: $white;
  }

  &-pink {
    color: $white;
    background-color: $buttonColor;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 30px;

    @media screen and (max-width: $mobile-max-breakpoint) {
      font-size: 12px;
      line-height: 17px;
    }
  }
}
