$mobile-max-breakpoint: 767px;

$tablet-min-breakpoint: 768px;
$tablet-max-breakpoint: 1022px;

$desktop-min-breakpoint: 1023px;


$black: #000;
$bodyColor: #1E1A20;
$titleColor: #222433;
$grey: #807C7C;
$buttonColor: #F2726C;
$white: #fff;

$headerBg: #F7F3F4;
$mainBg: #E5E5E5;
$sectionBg: #FFBD9E;
$heroBg: #E5E5E5;



