@import "../../styles/_variables.scss";

.container {
  padding-top: 194px;
  padding-bottom: 193px;

  @media screen and (max-width: $mobile-max-breakpoint) {
    padding-top: 89px;
    padding-bottom: 112px;
  }
}

.heading {
  margin-bottom: 16px;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (max-width: $mobile-max-breakpoint) {
    margin-bottom: 44px;
  }

  &__title {
    margin-bottom: 14px;

    @media screen and (max-width: $mobile-max-breakpoint) {
      margin-bottom: 9px;
    }
  }

  &__text {
    padding: 0 14px;

    @media screen and (max-width: $mobile-max-breakpoint) {
      padding: 0 18px;
    }
  }
}

.team {
  position: relative;
  min-height: 365px;

  @media screen and (max-width: $mobile-max-breakpoint) {
    overflow-x: hidden;
  }

  &:hover {
    .team-bg__1,
    .team-bg__2 {
      opacity: 0.5;
    }
  }

  &-member {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  div:nth-child(1) {
    @media screen and (max-width: $tablet-max-breakpoint) {
      margin-bottom: 41px;

      img {
        max-width: 59%;
      }
    }
  }

  div:nth-child(2) {
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: $tablet-max-breakpoint) {
      margin-bottom: 41px;
      align-items: flex-end;

      img {
        max-width: 61%;
      }
    }
  }

  div:nth-child(3) {
    align-items: flex-end;

    @media screen and (max-width: $tablet-max-breakpoint) {
      align-items: flex-start;

      img {
        max-width: 51%;
      }
    }
  }

  &-bg__1,
  &-bg__2 {
    position: absolute;
    z-index: -1;
    transition: 0.3s linear;
  }

  &-bg__1 {
    top: 10px;
    left: 171px;

    @media screen and (max-width: $desktop-min-breakpoint) {
      top: 138px;
    }

    @media screen and (max-width: $tablet-max-breakpoint) {
      left: 79px;
      top: 54px;
      width: 80%;
      transform: rotate(36deg);
    }

    @media screen and (min-width: 502px) and (max-width: $tablet-max-breakpoint) {
      top: 91px;
    }
  }

  &-bg__2 {
    bottom: 36px;
    right: 113px;

    @media screen and (max-width: $desktop-min-breakpoint) {
      bottom: 157px;
      transform: rotate(75deg);
    }

    @media screen and (max-width: $tablet-max-breakpoint) {
      bottom: 117px;
      right: 64px;
      width: 80%;
      transform: rotate(136deg);
    }

    @media screen and (min-width: 502px) and (max-width: $tablet-max-breakpoint) {
      bottom: 194px;
      right: 94px;
    }
  }
}
