@import "../../styles/_variables.scss";

.header {
  background-color: $headerBg;
  position: relative;
}

.wrapper {
  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.logo,
.menuButton {
  z-index: 10;
}

.logo {
  img {
    transition: 0.3s linear;
  }
  
  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  &:focus {
    outline: none;
    transform: scale(1.1);
  }
}

.nav {
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $titleColor;

  @media screen and (max-width: $mobile-max-breakpoint) {
    padding: 42px 0 16px;
  }

  &-wrapper {
    width: 71.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $mobile-max-breakpoint) {
      padding: 72px 0;
      position: absolute;
      left: 0;
      width: 100%;
      height: calc(100vh - 107px);
      flex-direction: column;
      justify-content: center;
      background-color: $headerBg;
      transition: 0.3s linear;
      z-index: 9;

      &__opened {
        top: 100%;
      }

      &__closed {
        top: -100vh;
      }

      button {
        width: 90%;
        margin-top: auto;
      }
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $mobile-max-breakpoint) {
      flex-direction: column;
    }

    &__item {
      @media screen and (max-width: $mobile-max-breakpoint) {
        margin-bottom: 56px;
      }
    }

    &__link {
      text-decoration: none;
      color: black;
      line-height: 32px;
      cursor: pointer;
      transition: 1s linear;

      @media screen and (max-width: $mobile-max-breakpoint) {
        font-size: 28px;
        line-height: 42px;
      }

        &:hover {
          text-shadow: 1px 1px rgba(black, 0.5);
        }

        &:focus {
          outline: none;  
        }

      &.active {
        font-weight: 700;
      }
    }
  }
}
